.home {
    display: grid;
    grid-template-areas:
    "header header"
    "carousel carousel"
    "leftColumn shopItemsArea";
    /*grid-template-rows: 0px 1fr 4fr;*/
    grid-template-columns: 2fr 5fr;
}