.cartItemsArea{
    /*grid-area: shopItemsArea;*/
    /*background-color: aqua;*/
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    justify-content: space-around;
    align-items: flex-start;
}