.shopItem{
    /*background-color: saddlebrown;*/
    /*border: black;*/
    border: 2px solid black;
    height: 150px;
    margin: 15px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}